$bg: #13151f;
$white: #ffffff;
$main: #191b24;

$blue_1: #2266e1;

$grey_1: #9fa6b2;
$gray_2: #1e202d;
$grey_3: #2c2f42;

$black_1: #22242f;
$black_2: #1e202c;


$blue_border: #4a88ff;
$grey_border: rgba(235,245,255,0.2);

$indent-all: 30px;
$indent-2xl: 40px;

$border_width: 2px;
